<div class="center jumbotron">
  <% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">      
        <section class="stats">
          <%= render "shared/stats" %>
        </section>
      </aside>
    </div>
  <% else %>
    <h1><%= t "static_pages.welcome" %></h1>
    <%= link_to t("static_pages.sign_in"), login_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
